In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from keras.models import Sequential
from keras.layers import Dense,Dropout,Input,Embedding,Flatten

In [4]:
df_train = pd.read_csv(r'C:\Users\Work\Desktop\cppCode\project\dataset\train.csv',encoding='iso-8859-1')
df_test = pd.read_csv(r'C:\Users\Work\Desktop\cppCode\project\dataset\test.csv',encoding='iso-8859-1')

In [5]:
df_train.head()

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,morning,0-20,Afghanistan,38928346,652860.0,60
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,noon,21-30,Albania,2877797,27400.0,105
2,088c60f138,my boss is bullying me...,bullying me,negative,night,31-45,Algeria,43851044,2381740.0,18
3,9642c003ef,what interview! leave me alone,leave me alone,negative,morning,46-60,Andorra,77265,470.0,164
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,noon,60-70,Angola,32866272,1246700.0,26

In [6]:
df_train['sentiment'].value_counts()

sentiment
neutral     11118
positive     8582
negative     7781
Name: count, dtype: int64

In [7]:
df_test['sentiment'].value_counts()

sentiment
neutral     1430
positive    1103
negative    1001
Name: count, dtype: int64

In [8]:
df_test = df_test[df_test['sentiment'] != 'neutral']
df_train = df_train[df_train['sentiment'] != 'neutral']

In [9]:
df_test['sentiment'].value_counts()

sentiment
positive    1103
negative    1001
Name: count, dtype: int64

In [10]:
df_train['sentiment'].value_counts()

sentiment
positive    8582
negative    7781
Name: count, dtype: int64

In [11]:
df_train['sentiment'] = df_train['sentiment'].map({'negative':0,'positive':1})
df_test['sentiment'] = df_test['sentiment'].map({'negative':0,'positive':1})

In [12]:
df_train.head()

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,0,noon,21-30,Albania,2877797,27400.0,105
2,088c60f138,my boss is bullying me...,bullying me,0,night,31-45,Algeria,43851044,2381740.0,18
3,9642c003ef,what interview! leave me alone,leave me alone,0,morning,46-60,Andorra,77265,470.0,164
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",0,noon,60-70,Angola,32866272,1246700.0,26
6,6e0c6d75b1,2am feedings for the baby are fun when he is a...,fun,1,morning,0-20,Argentina,45195774,2736690.0,17

In [13]:
df_train = df_train[['text', 'sentiment']]

In [14]:
df_test.head()

,textID,text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
1,96d74cb729,Shanghai is also really exciting (precisely -...,1.0,noon,21-30,Albania,2877797.0,27400.0,105.0
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",0.0,night,31-45,Algeria,43851044.0,2381740.0,18.0
3,01082688c6,happy bday!,1.0,morning,46-60,Andorra,77265.0,470.0,164.0
4,33987a8ee5,http://twitpic.com/4w75p - I like it!!,1.0,noon,60-70,Angola,32866272.0,1246700.0,26.0
5,726e501993,that`s great!! weee!! visitors!,1.0,night,70-100,Antigua and Barbuda,97929.0,440.0,223.0

In [15]:
df_test = df_test[['text', 'sentiment']]

In [16]:
df_train['text'] = df_train['text'].str.lower()
df_test['text'] = df_test['text'].str.lower()
X_train = df_train['text']
y_train = df_train['sentiment']
X_test = df_test['text']
y_test = df_test['sentiment']

In [37]:
import openai

# Set up OpenAI API credentials
api_key = ''
client = OpenAI(api_key=api_key)

# Function to fetch embeddings for text
def fetch_embeddings(text):
    response = client.embeddings.create(input=text, model='text-embedding-3-small')
    embeddings = response.data[0].embedding
    return embeddings

In [39]:
# Fetch embeddings for the text in the df dataframe
df_train['embeddings'] = df_train['text'].apply(fetch_embeddings)
df_train.to_csv('train_embeddings.csv', index=False)